<h4>Users</h4>
<hr/ >
<table class="table table-striped table-user">
<thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Locked</th>
        <th>Delete account</th>
    </tr>
</thead>
<tbody>
    {{#each users}}
    <tr>
        <td>{{this.username}}</td>
        <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
        <td>
        {{#if this.admin}}
        <span style="color:orange" class="glyphicon glyphicon-king unset_admin chess-piece" id={{this.username}}><span class='sorter hidden'>1</span></span>
        {{else}}
        <span style="color:grey" class="glyphicon glyphicon-pawn set_admin chess-piece" id={{this.username}}><span class='sorter hidden'>0</span></span>
        {{/if}}
        <i class="hidden fa fa-spinner pulse spinner_admin" id='{{this.username}}'></i>
        </td>
        <td>{{#if this.blocked}}
        <i style="color:red" class="fa fa-lock unlock_user padlock" id="{{this.username}}"><span class='sorter hidden'>0</span></i>
        {{else}}
        <i style="color:green" class="fa fa-unlock lock_user padlock" id="{{this.username}}"><span class='sorter hidden'>1</span></i>
        {{/if}}
        <i class="hidden fa fa-spinner pulse spinner_lock" id='{{this.username}}'></i>
        </td>
        <td>
        <span style="color:red" class="glyphicon glyphicon-trash del_user" id={{this.username}}></span>
        {{!-- hidden confirm button --}}
        <div class="btn-group div_confirm_del_user hidden" id='{{this.username}}' role="group">
          <button type="button" class="btn btn-danger btn-xs confirm_del_user" id='{{this.username}}'>Delete</button>
          <button type="button" class="btn btn-default btn-xs no_del_user" id='{{this.username}}'>No</button>
        </div>
        <i class="hidden fa fa-spinner pulse spinner_del" id='{{this.username}}'></i>
        </td>
    </tr>
    {{/each}}
</tbody>
</table>
