<form id="source-file-bed-{{idfile}}" class="template-source_file form-horizontal text-left">
    <div id="{{idfile}}" filename="{{file.name}}">
        <h4>BED file: {{file.name}} </h4>
        <p>Entity name</p>
        <input type="text" name="frame" id="entity-{{idfile}}" value="{{file.label}}">
        <br>
        {{#if taxons.length}}
            <p>Select an existing taxon</p>
            <select>
                <option selected disabled hidden>choose taxon</option>
                {{#each taxons}}
                    <option value="{{this}}" id="{{../idfile}}-{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <p>Or enter a new one</p>
        {{else}}
            <p>Enter a taxon</p>
        {{/if}}
        <input type="text" name="frame" id="tax-{{idfile}}">
        <br><br>

        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#advanced-{{idfile}}">Advanced features</a>
                </h4>
              </div>
              <div id="advanced-{{idfile}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group form-inlines div-radio-uri" id="advanced-{{idfile}}">
                        <input type="radio" name="radio-uri" value="default" id="default-{{idfile}}" checked="checked" />
                        <label for="default-{{idfile}}">Use default URI</label><br/ >
                        <input type="radio" name="radio-uri" value="custom" id="custom-{{idfile}}" />
                        <label for="custom-{{idfile}}">Use custom URI </label>
                        <i>http://</i><input id='custom-uri' type="text"></input>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="metadata">
            <label id="{{idfile}}" for="{{idfile}}" class="btn btn-default load_data_bed"><i class="fa fa-lock text-primary"></i> Insert as a <i class="text-primary">private</i> dataset</label>
            <input id="{{idfile}}"class="btn hidden" value="Insert in private graph" />
            {{#if admin}}
            <input id="{{idfile}}" class="btn hidden" value="Insert in public graph" />
            <label id="{{idfile}}" for="{{idfile}}" class="btn btn-default load_data_bed_public"><i class="fa fa-globe text-warning"></i> Insert as a <em class="text-warning">public</em> dataset</label>
            {{/if}}
        </div>
        <br><br>
        <p class="insert_status text-left alert hidden"></p>
        <p class="insert_warning text-left alert hidden"></p>
        <div class="alert alert-info hidden" role="alert"></div>
        <hr><br>
    </div>
</form>
