<hr/>
<h3 class="header-div">Jobs</h3>
<hr/>
<table class="table table-striped">
    <tr>
        <th>Job-ID</th>
        <th>Type</th>
        <th>State</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>NRows</th>
        <th></th>
    </tr>
    {{#each jobs}}
    <tr class="{{this.classtr}}" data-toggle="collapse" data-target="#jobview_accordion_{{@index}}" class="clickable">
        <td>{{this.jobid}}</td>
        <td>{{this.type}}</td>
        {{#if this.wait}}
        <td><i class="fa fa-spinner pulse"></i></td>
        {{else}}
        <td>{{this.state}}</td>
        {{/if}}
        <td>{{this.start}}</td>
        <td>{{this.end}}</td>
        <td>{{this.duration}}</td>
        <td>{{this.nr}}</td>
        <td><span onclick="new AskomicsJobsViewManager().removeJob({{@index}});event.stopPropagation();" alt="delete" class="glyphicon glyphicon-remove" aria-hidden="true"></td>
    </tr>
    <tr>
     <td colspan="7">
      <div id="jobview_accordion_{{@index}}" class="collapse">

        <div class="btn-group pull-right">
            <span style="font-size:1.5em;color:blue" onclick="location.href='csv/{{this.csv}}';" alt="save"  class="glyphicon glyphicon glyphicon-floppy-save" aria-hidden="true" ></span>
            <span style="font-size:1.5em;color:blue" onclick="let st = atob('{{this.stateToReload}}') ; __ihm.stopSession();__ihm.startSession(st);$('#interrogation').trigger( 'click' );"
                  alt="reload" class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </div>
        <hr/>
        <div id="results_table_{{@index}}">
        </div>
      </div>
     </td>
    </tr>
    {{/each}}
</table>
