<hr/>
<h3 class="header-div">Modules</h3>
<hr/>

  <table class="table table-striped">
      <tr>
        <th>Modules</th>
        <th>Definition</th>
        <th>Version</th>
        <th>N triplets</th>
        <th>State</th>
        <th></th>
      </tr>
    {{#each modules}}
    <tr data-toggle="collapse" data-target="#accordion_{{@index}}" class="clickable">
        <td>{{this.module}}</td>
        <td>{{this.comment}}</td>
        <td>{{this.version}}</td>
        <td>{{this.ntriplets}}</td>
        <td>{{this.state}}</td>
        {{#if this.wait}}
        <td><i class="fa fa-spinner pulse"></i></td>
        {{else}}
        {{#if this.checked}}
        <td onclick="new ModulesParametersView().active('{{this.uri}}','{{this.module}}',false);"><span class="glyphicon glyphicon-check"></span></td>
        {{else}}
          <td onclick="new ModulesParametersView().active('{{this.uri}}','{{this.module}}',true);"><span class="glyphicon glyphicon-unchecked"></span></td>
        {{/if}}
        {{/if}}
    </tr>
    {{/each}}
  </table>
