<hr/>
<h3 class="header-div">Statistics</h3>
<hr/>
{{!-- Public stats --}}
<div class='col-md-8'>
  <h4>Public data</h4>
  <hr/ >
  <ul class="list-group col-md-4">
    <li class="list-group-item"><span class="badge">{{stats.public.ntriples}}</span>Number of triples</li>
    <li class="list-group-item"><span class="badge">{{stats.public.nentities}}</span>Number of entities</li>
    <li class="list-group-item"><span class="badge">{{stats.public.nclasses}}</span>Number of classes</li>
    <li class="list-group-item"><span class="badge">{{stats.public.ngraphs}}</span>Number of datasets</li>
  </ul>

<table class="table table-striped table-bordered">
  <tr>
    <th>Dataset</th>
    <th>Loading date</th>
    <th>Owner</th>
    <th>Server</th>
    <th>AskOmics version</th>
  </tr>
  {{#each stats.public.graphs}}
  <tr>
      <td>{{this.graph}}</td>
      <td>{{this.date}}</td>
      <td>{{this.owner}}</td>
      <td>{{this.server}}</td>
      <td>{{this.version}}</td>
  </tr>
  {{/each}}
</table>

<table class="table table-striped table-bordered">
  <tr>
    <th>Class</th>
    <th>Relation</th>
  </tr>
  {{#each stats.public.class_rel}}
  <tr>
      <td>{{@key}}</td>
      <td>{{#each this}}
      ---- {{this.relname}} ---> {{this.target}} <br>
      {{/each}}</td>
  </tr>
  {{/each}}
</table>


<table class="table table-striped table-bordered">
  <tr>
    <th>Class</th>
    <th>Attributes</th>
  </tr>
  {{#each stats.public.class_attr}}
  <tr>
      <td>{{@key}}</td>
      <td>
      {{#each this}}
      - {{this}} <br>
      {{/each}}
      </td>
  </tr>
  {{/each}}
</table>
</div>

{{!-- Private stats --}}
<div class='col-md-8'>
  <h4>{{stats.username}} data</h4>
  <hr/ >
  <ul class="list-group col-md-4">
    <li class="list-group-item"><span class="badge">{{stats.private.ntriples}}</span>Number of triples</li>
    <li class="list-group-item"><span class="badge">{{stats.private.nentities}}</span>Number of entities</li>
    <li class="list-group-item"><span class="badge">{{stats.private.nclasses}}</span>Number of classes</li>
    <li class="list-group-item"><span class="badge">{{stats.private.ngraphs}}</span>Number of datasets</li>
  </ul>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Dataset</th>
    <th>Loading date</th>
    <th>Owner</th>
    <th>Server</th>
    <th>AskOmics version</th>
  </tr>
  {{#each stats.private.graphs}}
  <tr>
      <td>{{this.graph}}</td>
      <td>{{this.date}}</td>
      <td>{{this.owner}}</td>
      <td>{{this.server}}</td>
      <td>{{this.version}}</td>
  </tr>
  {{/each}}
</table>

<table class="table table-striped table-bordered">
  <tr>
    <th>Class</th>
    <th>Relation</th>
  </tr>
  {{#each stats.private.class_rel}}
  <tr>
      <td>{{@key}}</td>
      <td>{{#each this}}
      ---- {{this.relname}} ---> {{this.target}} <br>
      {{/each}}</td>
  </tr>
  {{/each}}
</table>

<table class="table table-striped table-bordered">
  <tr>
    <th>Class</th>
    <th>Attributes</th>
  </tr>
  {{#each stats.private.class_attr}}
  <tr>
      <td>{{@key}}</td>
      <td>
      {{#each this}}
      - {{this}} <br>
      {{/each}}
      </td>
  </tr>
  {{/each}}
</table>
