<form id="source-file-ttl-{{idfile}}" class="template-source_file form-horizontal text-center">
    <div id="{{idfile}}" filename="{{file.name}}">
        <h4>TTL file: {{file.name}} </h4>
        <h5>Preview of the first 100 lines of the file</h5>
        <pre class='preview_field'></pre>
        <div class="btn-group" role="group" aria-label="metadata">
            <label id="{{idfile}}" for="{{idfile}}" class="btn btn-default load_data_ttl"><i class="fa fa-lock text-primary"></i> Insert as a <i class="text-primary">private</i> dataset</label>
            <input id="{{idfile}}"class="btn hidden" value="Insert in private graph" />
            {{#if admin}}
            <input id="{{idfile}}" class="btn hidden" value="Insert in public graph" />
            <label id="{{idfile}}" for="{{idfile}}" class="btn btn-default load_data_ttl_public"><i class="fa fa-globe text-warning"></i> Insert as a <em class="text-warning">public</em> dataset</label>
            {{/if}}
        </div>
        <br><br>
        <p class="insert_status text-left alert hidden"></p>
        <p class="insert_warning text-left alert hidden"></p>
        <div class="alert alert-info hidden" role="alert"></div>
        <hr><br>
    </div>
</form>
